.home {
    @extend %page;

    display: flex;
    // background: $color-contessa;
    background-color: #fff;
    // color: $color-white;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
}
